#animations-box {
    display: flex;
    gap: 1em;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#animations-box div {
    width: 120px;
    height: 120px;
}

#animations-box img {
    width: 120px;
    height: 120px;
}

#animations-box p {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 150%;
    font-weight: bold;
}

.dice-box {
    position: relative;
}

