/** This section is for the Toggle Switches **/

input[type="checkbox"].toggle {
 opacity: 0;
 position: absolute;
 left: -9000px;
}

input[type="checkbox"].toggle + label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle + label::before {
    content: "";
    width: 2em;
    height: 1em;
    background-color: rgb(192, 128, 128);
    border-radius: 1em;
    margin-right: .25em;
    transition: background-color 250ms ease-in-out
}

input[type="checkbox"].toggle:hover + label::before {
    outline: 1px solid black;
}

input[type="checkbox"].toggle + label::after {
    position: absolute;
    left: .1em;
    content: "";
    width: .9em;
    height: .9em;
    background-color: rgb(224, 5, 5);
    border-radius: 1em;
    transition: background-color 250ms ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked + label::after {
    transform: translateX(100%);
    background-color: rgb(5, 224, 176);
    border-radius: 1em;
}

input[type="checkbox"].toggle:checked + label::before {
    background-color: rgb(14, 76, 247);
}

.criticals {
    border: 2px solid black;
    padding: .3em;
    border-radius: 1em;
}

/** This section is for the Roll Button **/

.central-container button {
    padding: .3em 2em;
    border: .16em solid rgba(102, 101, 101, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    margin:0 0.1em 0.1em 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #9a4ef1;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    min-height: 50px;
    min-width: 150px;
    font-size: 100%;
}

.central-container button:hover {
    border-color: rgba(255,255,255,1);
}

#clear {
    padding: .3em 2em;
    border: .16em solid rgba(102, 101, 101, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    margin:0 0.1em 0.1em 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #880101;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    min-height: 35px;
    min-width: 120px;
    font-size: 100%;
    font-weight: bold;
}