*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;

}

.grid-container {
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 8vh 80vh 12vh;
    grid-template-areas:
        "head head"
        "leftcontainer main"
        "actionpanel actionpanel";
}

.hidden,
.mobile-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

main {
    grid-area: main;
    background-color: #ebebeb;
    position: relative;
    padding: 0.2em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    --button-section-height: 40px;
}

body>div {
    border: thin black solid;
}



header,
footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: black;
}

header {
    grid-area: head;
    justify-content: center;
}

header h1 {
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.logo {
    height: 100%;
}

.left-container {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: leftcontainer;
    position: relative;
    z-index: 1;
}

#action-panel {
    grid-area: actionpanel;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#action-panel>div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    font-weight: bold;
}

/* The width takes the height value to make sure all dice are square images */

.dice-container img {
    width: 12vh;
    height: 12vh;
}

.dice-container {
    display: flex;
    align-items: center;
    position: relative;
    left: -18px;
    transition: .6s;
}

.dice-container.active {
    left: 30px;
}

.dice-container:after {
    content: attr(data-value);
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
}

.roll-button {
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #9a4ef1;
    text-shadow: 0 0.04em 0.04em rgb(0 0 0 / 35%);
    min-height: 30px;
    min-width: 116px;
    border: none;
}

#button-section {
    height: calc(var(--button-section-height) - 10px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.clear-button {
    position: absolute;
    top: 2px;
    right: 1em;
}

#results-box {
    height: calc(100% - var(--button-section-height));
    padding: 0 2em 0.2em 2em;
    box-sizing: border-box;
    overflow-y: scroll;
}

#button-section button {
    height: inherit;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 4px;
    transition: .3s;
}

#button-section button.active {
    height: var(--button-section-height);
    padding-right: 3px;
    font-size: 28px;
    box-shadow: 3px 3px 10px #333;
}

#button-section button[data-checked='true'] {
    background-color: greenyellow;
}

button svg {
    height: 100%;
    width: 100%;
}

#standard-crit {
    background-color: rgb(209, 122, 122);
}

#dangerous-crit {
    background-color: rgb(209, 122, 122);
}

#roll-button {
    background-color: #9a4ef1;
}

#modifiers {
    background-color: rgb(115, 138, 243);
    width: 64px;
    font-weight: bold;
}

#modifiers:after {
    content: attr(data-value);
}

#clear {
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background-color: #880101;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    min-height: 25px;
    min-width: 60px;
    font-size: 100%;
    font-weight: bold;
}

.minus-button,
.plus-button {
    font-size: 150%;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 30px;
    border: none;
    border-radius: 5px;
}

.minus-button {
    background-color: rgb(177, 3, 3);
}

.plus-button {
    background-color: green;
}

#action-input {
    width: 60px;
    height: 24px;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}

/* Toggles inside action-panel */

input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -9000px;
}

input[type="checkbox"].toggle+label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"].toggle+label::before {
    content: "";
    width: 3em;
    height: 1.5em;
    background-color: rgb(192, 128, 128);
    border-radius: 1em;
    margin-right: .25em;
    transition: background-color 250ms ease-in-out;
    outline: 1px solid black;
}

input[type="checkbox"].toggle:hover+label::before {
    outline: 1px solid black;
}

input[type="checkbox"].toggle+label::after {
    position: absolute;
    left: .1em;
    content: "";
    width: 1.4em;
    height: 1.4em;
    background-color: rgb(224, 5, 5);
    border-radius: 1em;
    transition: background-color 250ms ease-in-out, transform 200ms ease-in-out;
}

input[type="checkbox"].toggle:checked+label::after {
    transform: translateX(100%);
    background-color: rgb(5, 224, 176);
    border-radius: 1em;
}

input[type="checkbox"].toggle:checked+label::before {
    background-color: rgb(14, 76, 247);
}