

header, footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: black;
}

header h1 {
    color: whitesmoke;
}

header img {
    max-width: 150px;
    max-height: 150px;
}

.dice-container {
    display: flex;
    flex-direction: column;
}

.badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1.2em;
    left: 5em;
}

.dice-container img {
max-width: 120px;
max-height: 120px;
}