header,
footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: black;
}

header {
    justify-content: center;
}

footer {
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 12vh;
}

header h1 {
    color: whitesmoke;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

main > div {
    border: thin black solid;
}

.left-container {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

.right-container {
    background-color: gray;
    padding-top: 1em;
    padding-bottom: 4em;
    position: relative;
}

.central-container {
    padding: .8em;
    flex-direction: column;
    display: flex;
    font-size: 150%;
}

#button-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.dice-container {
    display: flex;
    padding: .5em;
    align-items: center;
    padding: 0 .5em;
}

.dice-container h2 {
    padding: 0 .5em;
}

.badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0.6em;
    left: -1em;
}

.dice-container img {
    max-width: 90px;
    max-height: 90px;
}

#results-box {
    color: rgb(31, 0, 59);
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    line-height: 110%;
    height: 65vh;
    overflow: scroll;
    overflow-x: hidden;

}

.clear-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 1em;
}

#modifier-container {
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#modifiers {
    width: 40%;
    font-size: 110%;
}

.hidden {
    display: none;
}

#social-tags {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#social-tags a {
    font-size: 2em;
    text-decoration: none;
    color: white;
    padding: .2em;
}